* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    color: #000000;
    background: #ffffff;
    font-family: arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    height: 100vh;

}

ol, ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
}

a {
    color: #000;
    text-decoration: none;
    line-height: 18px;
    outline: none;
}

a:hover {
    color: orangered;
}

.navbar-expand-md .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 17px;
    color: #ffffff;
}

.navbar-brand {
    margin-right: 3rem;
}

footer {
    padding: 20px 0;
}

footer .nav .nav-item {
    padding-right: 100px;
}

footer .nav .nav-item:last-child {
    padding-right: 0;
}

footer .nav .nav-item .nav-link {
    padding: .5rem 0;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

footer .copyright {
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

.subscribe-box #subscribe {
    padding: 4px 10px 5px;
    width: 141px;
    color: #7c7a7b;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(124, 122, 123, 0.35);
}

.subscribe-box #dosubscribe {

    color: #FFF;
    padding: 1px 10px 3px;
    margin-left: 6px;
    cursor: pointer;
    height: 29px;
}

.social {
    margin-top: 10px;
}
.social a {
    margin-right: 12px;
}
/*----main-page------*/


main .pb-4, .py-4 {
    padding: 0 !important;
}

.slider img {
    width: 100%;
}

.catalog-wrap {
    margin-bottom: 20px;
}

.left-sidebar {
    margin-right: 20px;

}


.catalog{
    margin: 0 -10px;
}
/*-------Sidebar---------*/

.filter-section{
    border-bottom: 1px solid #d6d6d6;
    padding-top: 12px;
    padding-bottom: 12px;
    border-right: 1px solid #d6d6d6;
}
.filter-section-inner {
    margin-top: 9px;
}
.filter-section-inner:last-child {
    padding-left: 3%;
}
.filter-section-inner .filter-section-link{
    color: #000;
}
input[type=checkbox] label{
    padding-right: 10px;
}
.color-row{

}

.color-circle {
    max-width: 220px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px 50px 50px 50px;

}
.color-circle:hover{
    border: 2px solid red;
}









/*--------Card---------*/
.product-card {
    position: relative;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: all .3s ease 0s;
    padding: 10px;
    width: 25%;
}

.product-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

}
.product-card .product-wrap{

    border:1px solid rgba(0,0,0,.1);
}
.product-card:hover .product-wrap{
    border: none;
}
.product-card .product-image a {
    display: block
}

.product-card .product-image img {
    width: 100%;
    height: auto
}

.product-card .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.product-card:hover .pic-1 {
    opacity: 0
}

.product-card .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.product-card:hover .pic-2 {
    opacity: 1
}

.product-card .social {
    width: 180px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease 0s;
    display: flex;
    justify-content: center;
}

.product-card .social li {
    display: inline-block;
    opacity: 0;
    transition: all .7s
}

.product-card .social li:nth-child(1) {
    transition-delay: .15s
}

.product-card .social li:nth-child(2) {
    transition-delay: .3s
}

.product-card .social li:nth-child(3) {
    transition-delay: .45s
}

.product-card:hover .social li {
    opacity: 1
}

.product-card .social li a {
    color: #222;
    background: #fff;
    font-size: 17px;
    line-height: 36px;
    width: 40px;
    height: 36px;
    border-radius: 2px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease 0s
}

.product-card .social li a:hover {
    color: #fff;
    background: #16a085
}

.product-card .social li a:after, .product-card .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 20px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-card .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}

.product-card .social li a:hover:after, .product-card .social li a:hover:before {
    opacity: 1
}

.product-card .product-discount-label, .product-card .product-new-label {
    color: #fff;
    background-color: #16a085;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 25px;
    transition: all .3s
}

.product-card .product-discount-label {
    left: auto;
    right: 20px;
    background-color: #d7292a
}

.product-card:hover .product-new-label {
    opacity: 0
}

.product-card .product-content {
    padding: 25px 15px;
    min-height: 170px;
}

.product-card .title {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all .3s ease 0s
}

.product-card .title a {
    color: #222
}

.product-card .title a:hover {
    color: #16a085
}

.product-card .price {
    color: #16a085;
    font-size: 17px;
    font-weight: 700;
    margin: 0 2px 15px 0;
    display: block
}

.product-card .price span {
    color: #909090;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: line-through;
    text-align: left;
    vertical-align: middle;
    display: inline-block
}

.product-card .add-to-cart {
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 10px 20px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s
}

.product-card:hover .add-to-cart {
    border: 1px solid transparent;
    background: #16a085;
    color: #fff
}

.product-card .add-to-cart:hover {
    background-color: #505050;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

@media only screen and (max-width: 990px) {
    .product-card {
        margin-bottom: 30px
    }
}

